{% extends 'index.html' %}
{% load static %}
{% block content %}

<!-- ----------------header--------------- -->
<div class="card border-0 custom-shadow">
    <div class="card-body">
        <a href="{% url 'store' %}" class="btn btn-outline-secondary"><img src="{% static 'images/arrow-left.svg' %}"/> Continue shopping</a><hr>
        
        <div class="cart-header">
            <div>
                <strong>Items: {{order.get_cart_items}}</strong>
            </div>
            <div>
                <strong>Total: <img src="{% static 'images/rupee.svg' %}" />{{order.get_cart_total|floatformat:2}}</strong>
            </div>
            <div>
                <a href="{% url 'checkout' %}" class="btn btn-success">Checkout</a> 
            </div>
        </div>
        
    </div>
</div>
<br>
<br>

<!-- ----------------footer--------------- -->
<div class="card border-0 custom-shadow">
    <div class="card-body">
        
        <table class="table table-borderless">
            <thead>
              <tr>
                <th colspan="2" scope="col"></th>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>

            {% for item in items %}
              <tr>
                <th scope="row"><img src="{{item.product.imageURL}}" alt="..." height="70"/></th>
                <td></td>
                <td>{{item.product.name}}</td>
                <td><img src="{% static 'images/rupee.svg' %}" /> {{item.product.price|floatformat:2}}</td>
                <td>
                    <p class="quantity">{{item.quantity}}</p>
                    <div class="quantity">
                        <img data-product={{item.product.id}} data-action="add" class="update-cart" src="{% static 'images/caret-up-fill.svg' %}" alt="..."/>
                        <img data-product={{item.product.id}} data-action="remove" class="update-cart" src="{% static 'images/caret-down-fill.svg' %}" alt="..."/>
                    </div>
                    </td>
                <td><img src="{% static 'images/rupee.svg' %}" /> {{item.get_total}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        
    </div>
</div>

{% endblock content %}