{% extends 'index.html' %}
{% load static %}

{% block content %}

<div class="row">
    <!-- ----------------left----------------- -->
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card custom-shadow">
            <div id="form-wrapper" class="card-body">
                <form id="form" action="" method="POST">
                    {% csrf_token %}
                    <div id="user-info">
                        <div class="form-field">
                            <input type="text" class="form-control" name="name" placeholder="Name" required>
                        </div>
                        <div class="form-field">
                            <input type="email" class="form-control" name="email" placeholder="Email" required>
                        </div>
                    </div>

                    
                    <div id="shipping-info">
                        <hr>
                        <h3>Shipping Information:</h3>
                        <hr>
                        <div class="form-field">
                            <input type="text" class="form-control" name="address" placeholder="Address" required>
                        </div>
                        <div class="form-field">
                            <input type="text" class="form-control" name="city" placeholder="City" required>
                        </div>
                        <div class="form-field">
                            <input type="text" class="form-control" name="state" placeholder="State" required>
                        </div>
                        <div class="form-field">
                            <input type="text" class="form-control" name="zipcode" placeholder="Zipcode" required>
                        </div>
                    </div>
                    <br>
                    <input type="submit" id="form-btn" class="btn btn-outline-success" value="Continue" />
                </form>
            </div>
        </div>

        <br>
        <div class="card custom-shadow">
            <div id="payment-info" class="card-body hidden">
                <p>Payment options</p>
                <form method="POST" action="">
                    {% csrf_token %}
                    <button type="submit" name="make-payment-btn" id="make-payment" value="make-payment-btn">Make Payment</button>
                </form>
            </div>
        </div>
    </div>
    
    <!-- ----------------right----------------- -->
    <div class="col-sm-6">
        <div class="card border-0 custom-shadow">
            <div class="card-body">
                <a href="{% url 'cart' %}" class="btn btn-outline-secondary"><img
                        src="{% static 'images/arrow-left.svg' %}" /> Back to cart</a>
                <hr>
                <h2>Order summary</h2>
                <hr>

                <table class="table table-borderless">

                    <tbody>
                        {% for item in items %}
                        <tr>
                            <th scope="row"><img src="{{item.product.imageURL}}" alt="..." height="70" /></th>
                            <td></td>
                            <td>{{item.product.name}}</td>
                            <td><img src="{% static 'images/rupee.svg' %}" /> {{item.product.price|floatformat:2}}</td>
                            <td>x{{item.quantity}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <hr>
                <div><strong>Items: {{order.get_cart_items}}</strong></div>
                <div><strong>Total: <img src="{% static 'images/rupee.svg' %}" /> {{order.get_cart_total|floatformat:2}}</strong></div>

            </div>
        </div>
    </div>
</div>

<script>
    var shipping = '{{order.shipping}}';
    var total = '{{order.get_cart_total}}';

    {% comment %} if(shipping == 'False') {
        console.log("Shipping is False")
        document.getElementById("shipping-info").innerHTML = '';
    } {% endcomment %}

    var formId = document.getElementById('form');

    formId.addEventListener('submit', function(e) {
        e.preventDefault();
        console.log("Form Submitted...");
        document.getElementById('form-btn').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');
    })


    if(user != 'AnonymousUser') {
        document.getElementById('user-info').innerHTML = '';
    }

    if(shipping == 'False' && user != 'AnonymousUser') {
        document.getElementById('form-wrapper').classList.add('hidden');
        document.getElementById('payment-info').classList.remove('hidden');
    }


    document.getElementById('make-payment').addEventListener('click', function(e) {
        submitFormData();
    })

    function submitFormData() {
        console.log("Payment button clicked");

        var userFormData = {
            'name': null,
            'email': null,
            'total': total,
        }

        var shippingInfo = {
            'address': null,
            'city': null,
            'state': null,
            'zipcode': null,
        }

        if(shipping != 'False') {
            shippingInfo.address = formId.address.value
            shippingInfo.city = formId.city.value
            shippingInfo.state = formId.state.value
            shippingInfo.zipcode = formId.zipcode.value
        }

        if(user == 'AnonymousUser') {
            userFormData.name = formId.name.value
            userFormData.email = formId.email.value
        }

        var url = '/process-order/';

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({'form': userFormData, 'shipping': shippingInfo})
        })
        .then((response) => {
            return response.json()
        })
        .then((data) => {
            console.log('Success:', data);
            // alert("Transaction complete");

            cart = {};
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"

            // window.location.href = "{% url 'store' %}"
        })
    }
</script>

{% endblock content %}