body {
    background-color: red;
}

.cart-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.custom-shadow {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.quantity {
    display: inline-block;
}

.form-field {
    display: inline-block;
    width: 280px;
    padding: 5px;
}

.hidden {
    display: none;
}